In [40]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
plt.style.use('seaborn-notebook')
%matplotlib inline
import csv
import src.scrubbing as scrubbing

In [41]:
df = pd.read_pickle('data/sf_inspection.pkl')

In [42]:
df.head(2)

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,...,94129,94130,94131,94132,94133,94134,94143,94158,95105,p10_36
0,1757,Dar Bar Pakistani/Indian Cusine,1412 Polk St,San Francisco,CA,94109,37.789784,-122.420455,"(37.789784, -122.420455)",NaN,...,0,0,0,0,0,0,0,0,0,11
1,4864,DRAGON CITY BAKERY & CAFE,2367 MISSION St,San Francisco,CA,94110,37.759174,-122.419066,"(37.759174, -122.419066)",1.415583e+10,...,0,0,0,0,0,0,0,0,0,13

In [43]:
lati = df['business_latitude'].values

In [44]:
lati = [round(elem, 2) for elem in lati ]

In [45]:
longi = df['business_longitude'].values

In [46]:
longi = [round(elem, 2) for elem in longi ]

In [47]:
df['longitude_round'] = longi

In [48]:
df['latitude_round'] = lati

In [49]:
df.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,...,94131,94132,94133,94134,94143,94158,95105,p10_36,longitude_round,latitude_round
0,1757,Dar Bar Pakistani/Indian Cusine,1412 Polk St,San Francisco,CA,94109,37.789784,-122.420455,"(37.789784, -122.420455)",NaN,...,0,0,0,0,0,0,0,11,-122.42,37.79
1,4864,DRAGON CITY BAKERY & CAFE,2367 MISSION St,San Francisco,CA,94110,37.759174,-122.419066,"(37.759174, -122.419066)",1.415583e+10,...,0,0,0,0,0,0,0,13,-122.42,37.76
2,79782,Deli 23,2449 23rd St,San Francisco,CA,94110,37.754343,-122.403989,NaN,NaN,...,0,0,0,0,0,0,0,8,-122.40,37.75
3,73840,L'acajou Bakery and Cafe,498 09th St Ste. C,San Francisco,CA,94103,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,6,NaN,NaN
4,76437,Sweetheart Cafe,909 Grant Ave,San Francisco,CA,94108,37.795305,-122.406613,NaN,NaN,...,0,0,0,0,0,0,0,12,-122.41,37.80

In [50]:
# give NaN's the average value

In [51]:
mask = df['longitude_round'].isnull()

In [52]:
avg_longi = df.loc[~mask, 'longitude_round'].sum()/len(df.loc[~mask, 'longitude_round'])
avg_longi

-122.42495728469176

In [53]:
round(avg_longi, 2)

-122.42

In [54]:
df.loc[mask,'longitude_round'] = round(avg_longi, 2)

In [55]:
mask = df['latitude_round'].isnull()

In [56]:
avg_lati = df.loc[~mask, 'latitude_round'].sum()/len(df.loc[~mask, 'latitude_round'])
avg_lati

37.77332024936504

In [57]:
round(avg_lati, 2)

37.77

In [58]:
df.loc[mask,'latitude_round'] = round(avg_lati, 2)

In [59]:
df.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,...,94131,94132,94133,94134,94143,94158,95105,p10_36,longitude_round,latitude_round
0,1757,Dar Bar Pakistani/Indian Cusine,1412 Polk St,San Francisco,CA,94109,37.789784,-122.420455,"(37.789784, -122.420455)",NaN,...,0,0,0,0,0,0,0,11,-122.42,37.79
1,4864,DRAGON CITY BAKERY & CAFE,2367 MISSION St,San Francisco,CA,94110,37.759174,-122.419066,"(37.759174, -122.419066)",1.415583e+10,...,0,0,0,0,0,0,0,13,-122.42,37.76
2,79782,Deli 23,2449 23rd St,San Francisco,CA,94110,37.754343,-122.403989,NaN,NaN,...,0,0,0,0,0,0,0,8,-122.40,37.75
3,73840,L'acajou Bakery and Cafe,498 09th St Ste. C,San Francisco,CA,94103,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,6,-122.42,37.77
4,76437,Sweetheart Cafe,909 Grant Ave,San Francisco,CA,94108,37.795305,-122.406613,NaN,NaN,...,0,0,0,0,0,0,0,12,-122.41,37.80

In [63]:
df.to_pickle('data/sf_inspection_w_round_coords.pkl')